@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --my-primary: #fcfcfc;
  --my-grey: #a9abb5;
  --my-black: #25292c;
  --my-light-black: #62676d;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
